<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="jenjin" verbose="1">
    <suite-files>
        <suite-file path="jenjin-core/src/test/resources/testng.xml" />
        <suite-file path="jenjin-core-client/src/test/resources/testng.xml" />
        <suite-file path="jenjin-core-server/src/test/resources/testng.xml" />
        <suite-file path="jenjin-world-core/src/test/resources/testng.xml" />
        <suite-file path="jenjin-world-client/src/test/resources/testng.xml" />
        <suite-file path="jenjin-world-server/src/test/resources/testng.xml" />
    </suite-files>
</suite>