<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="jenjin-world-client" verbose="1">
    <test name="client">
        <packages>
            <package name="com.jenjinstudios.world.client" />
        </packages>
    </test>

    <test name="message">
        <packages>
            <package name="com.jenjinstudios.world.client.message" />
        </packages>
    </test>
</suite>