<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="jenjin-world-core" verbose="1">
    <test name="world">
        <packages>
            <package name="com.jenjinstudios.world" />
        </packages>
    </test>
    <test name="actor">
        <packages>
            <package name="com.jenjinstudios.world.actor" />
        </packages>
    </test>
    <test name="event">
        <packages>
            <package name="com.jenjinstudios.world.event" />
        </packages>
    </test>
    <test name="math">
        <packages>
            <package name="com.jenjinstudios.world.math" />
        </packages>
    </test>
    <test name="reflection">
        <packages>
            <package name="com.jenjinstudios.world.reflection" />
        </packages>
    </test>
</suite>