<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="jenjin-core" verbose="1">
    <test name="jenjin-core">
        <groups>
            <run>
                <include name="unit" />
            </run>
        </groups>
        <packages>
            <package name="com.jenjinstudios.core.*" />
        </packages>
    </test>
</suite>