<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="jenjin-core" verbose="1">
    <test name="jenjin-core">
        <groups>
            <run>
                <include name="unit" />
            </run>
        </groups>
        <packages>
            <package name="com.jenjinstudios.core" />
            <package name="com.jenjinstudios.core.io" />
            <package name="com.jenjinstudios.core.message" />
            <package name="com.jenjinstudios.core.concurrency" />
            <package name="com.jenjinstudios.core.xml" />
        </packages>
    </test>
</suite>